<div>
    Todo listo para trabajar con Websockets!
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--<script src="/sweetalert2/sweetalert2.js"></script>-->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>